# macOS
.DS_Store

# sbt specific
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
project/local-plugins.sbt
.history
.ensime
.ensime_cache/
.sbt-scripted/
local.sbt

# Bloop
.bsp

# VS Code
.vscode/

# Metals
.bloop/
.metals/
metals.sbt

# IDEA
.idea
.idea_modules
/.worksheet/

# dados
data/
data/agosto.csv
data/maio.csv
data/agosto.parquet
data/agosto_saida.parquet
data/maio.parquet
data/maio_saida.parquet
data/agosto_saida_clusters_2.parquet
data/agosto_saida_clusters_3.parquet
data/agosto_saida_clusters_4.parquet
data/agosto_saida_clusters_5.parquet
data/agosto_saida_clusters_6.parquet
data/agosto_saida_clusters_7.parquet
data/agosto_saida_clusters_8.parquet
data/agosto_saida_modelo_kmeans2 clusters
data/agosto_saida_modelo_kmeans3 clusters
data/agosto_saida_modelo_kmeans4 clusters
data/agosto_saida_modelo_kmeans5 clusters
data/agosto_saida_modelo_kmeans6 clusters
data/agosto_saida_modelo_kmeans7 clusters
data/agosto_saida_modelo_kmeans8 clusters


